/node_modules
/public/hot
/public/storage/ficheros
/public/storage/temp
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode/
