body{
    background-color: #4d4dff;

/* darkblue */
}

#img_perro_welcome{
    border-radius: 50%;
    border: solid cadetblue;
}

@media screen and (min-width: 800px) {
    #img_perro_welcome:hover{
        border: solid rgb(255, 255, 255) 30px;
        transition: 1s;
    }
}

#img_perro_home{
    border-radius: 50%;
    border: solid cadetblue;
    width: 115px;
    height: 115px;
}

.sombra{
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

fichero-miniatura :hover{
    /* width: 110%;
    height: auto;
    box-shadow: crimson; */
    background-color: red;
}
